<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.imgselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <activity
            android:name=".ui.SelectedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ui.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>
